*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: calc(100% + 10vh);
  font-family: 'Comfortaa', cursive;
}
body{
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 120%;
  
}

#menu-contains{
  width: 100%;
  position: fixed;
  margin-top: 3%;
  z-index: 1;
  /*transition: 0.3s;*/
}

#menu-contains .oculted{
  display: none;
}

#menu-contains .visible{
  width: 100%;
  display: block;
  position: fixed;
  letter-spacing: 1px;
  margin-top: 20%;
  font-size: 35px;
  text-align: center;
}

#menu-contains .visible ol{
  margin-bottom: 3%;

}

#menu-contains .visible a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;

}
#menu-contains .visible a:hover{
color: #d69d00;
}

#menu-contains.expanded-menu{
  background: rgba(28, 28, 28, 0.80);
  margin-top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  transition: .5s;
}

#hamburguer{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 6%;
}

#hamburguer button{
background: none;
border: 0;
cursor: pointer;
width: 60px;
height: 60px;
}

#hamburguer button.open{
  margin-top: 3%;
  margin-right: -1%;
  }

#hamburguer button span{
  border-radius: 5px;
  background: #fff;
  display: block;
  width: 60%;
  margin: 5px auto;
  height: 4px;
  animation-duration: 1s;
  /*Se utiliza para que la animacion luego de hacerse se quede en el ultimo frame y no se reinicie*/
  animation-fill-mode: forwards;
}



#hamburguer button.open .top-line{
  animation-name: top-line-animation;
}

#hamburguer button.open .middle-line{
  animation-name: middle-line-animation;
}

#hamburguer button.open .bottom-line{
  animation-name: bottom-line-animation;
}

#hamburguer button .top-line{
  animation-name: top-line-animation-close;
}

#hamburguer button .middle-line{
  animation-name: middle-line-animation-close;
}

#hamburguer button .bottom-line{
  animation-name: bottom-line-animation-close;
}
.section.header{
  height: 900px;
  position: relative;
  color: #000;
  font-size: 17px;
  left: 0;
}

.section.header .background {
  position: absolute;
  width: 100%;
  top: -10vh;
  left: 0;
  height: calc(85% + 10vh);
  top: -10vh;
  background: linear-gradient(135deg, #fb9637, #d8ba73);
  transform: skewY(-2.5deg);
  box-shadow: 0 0 50px rgb(60 117 162 / 40%);
}

.contain {
  position: absolute;
  width: 100%;

}

.head{
  margin: 10% 0 0 6%;
}

.contain .tittle-head{
  font-weight: 400;
  letter-spacing: 1px;
  margin: 90px 0 0 50px;
  color: #fff;
}

.contain h1{
  font-weight: 700;
  letter-spacing: 1px;
  margin-left:50px;
  color: #fff;
}


.contain .button{
  text-decoration: none;
  color: #29576C;
  background: transparent;
  margin: 30px 0 0 50px;  
  padding: 8px;
  border: solid #29576C;
  border-radius: 10px;
  font-size: 20px;
}

.contain .button:hover{
  background: #29576C;
  color: white;
  transition: 0.3s;
}


.image-header #ilustration{
  position: absolute;
  max-width: 280px;
  margin: 13% auto 0 65%;
  animation-name: ilustrate ;
  animation-duration: 1.6s;
}

@keyframes ilustrate{
  from{
opacity: 0; 
  }
  to{
opacity: 1;
  }
}

.conten-type{
  margin-left:50px;
  max-width: 80%;
}
.writing{
  font-family: 'Source Code Pro', monospace;
  color:#29576C ;
  font-size: 27px;
  font-style: normal;
}

.flex-group{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-top: 5%;
}

.flex-group img{
  max-width: 54px;
}

.flex-projects{
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:5% ;
}

.flex-projects img{
  max-width: 43px;
}
/*----------- Content aboout me------------------------*/
.about{
  margin: 50px 0;
  padding: 0 50px;
}

.image{
  text-align: center;
  margin-bottom: 20px;
}

.image img{
  max-width: 300px;
  border-radius: 500px;
  border: solid 3px #E5B317;
}

.me{
  margin-bottom: 100px;
  padding: 15px;
}

.mee{
  margin-top: 6% !important;
  margin-bottom: 100px;
}

.about h3{
  margin-top: 90px;
}

.about h2{
  font-weight: 600;
  font-size: 40px;
}

/*-------- Content projects------------*/
.section.contain{
  height: 810px;
  position: relative;
  color: #000;
  font-size: 17px;
  left: 0;
  margin-top: 15%;
}

.section.contain .background {
  position: absolute;
  width: 100%;
  top: -10vh;
  left: 0;
  height: calc(85% + 10vh);
  top: -10vh;
  background: linear-gradient(135deg, #fb9637, #d8ba73);
  transform: skewY(-2.5deg);
  box-shadow: 0 0 50px rgb(60 117 162 / 40%);
}

.img-contain img{
  max-width: 650px;
  margin:12% 0 0 10%;
  box-shadow:  -5px 5px 20px #29576C;
  border-radius: 10px;

}

.tittleBlue{
  color: #29576C;
  font-weight: 600;
  font-size: 37px;
}

.contain2-projects {
  position: absolute;
  width: 100%;
  margin-left: 60%;
  margin-top: 10% !important;
  justify-content: left;

}

.button2{
  text-decoration: none;
  color: #E5B317;
  background: transparent;  
  padding: 8px;
  border: solid #E5B317;
  border-radius: 10px;
  font-weight: 500;
}

.button2:hover{
  background: #E5B317;
  color: #29576C;
  font-weight: 500;
  transition: 0.3s;
}

.carb{
  margin-top: 5% !important;
}

.latext h2{
  font-weight: 600;
  font-size: 30px;
}
/*-------------------- contacto ------------------*/

.containContact{
  text-align: center;
}

.icons{
  letter-spacing: 5px;
  font-size: 40px;
}

.instagram:hover{
  color:#d69d00 ;
  transition: 0.3s;
}

.linkedin:hover{
  color:#d69d00 ;
  transition: 0.3s;
}

.github:hover{
  color:#d69d00 ;
  transition: 0.3s;
}

.mail:hover{
  color:#d69d00 ;
  transition: 0.3s;
}

.redes{
  text-decoration: none;
  color: aliceblue;
}

.icons a:hover{
color: #d69d00;
}

.contacto{
  font-weight: 600;
}

/*---------media querys-------------*/
/*
@media (max-width: 3048px) {
  section.header {
    height: 630px;
  }

  .image-header #ilustration{
    margin-left: 1500px;
  }
}


@media (max-width: 1920px) {
  section.header {
    height: 630px;
  }

  .image-header #ilustration{
    margin-left: 1500px;
  }
}

@media (max-width: 1850px) {
  section.header {
    height: 630px;
  }
  .image-header #ilustration{
    margin-left: 1400px;
  }
}

@media (max-width: 1800px) {
  section.header {
    height: 630px;
  }

  .image-header #ilustration{
    margin-left: 1300px;
  }
}

@media (max-width: 1720px) {
  section.header {
    height: 630px;
  }

  .image-header #ilustration{
    margin-left: 1200px;
  }
}

@media (max-width: 1690px) {
  section.header {
    height: 780px;
  }

  .image-header #ilustration{
    margin-left: 1100px;
  }
}

@media (max-width: 1600px) {
  section.header {
    height: 750px;
  }

  .image-header #ilustration{
    margin-left: 1100px;
  }
}


@media (max-width: 1450px) {
  .image-header #ilustration{
    margin-left: 1000px;
  }
}

@media (max-width: 1280px) {
  .image-header #ilustration{
    margin-left: 900px;
  }
}
*/

@media (max-width: 1260px) {
  section.header {
    height: 1000px;
  }

  .section.header .background {
    height: calc(90% + 10vh);
    }
  

  .image-header #ilustration{
    margin-left: 65%;
    margin-top: 25%;
    max-width: 300px;
  }

  .contain.head{
    margin-top: 20%;
    margin-left: 5%;
  }

  .section.contain{
    margin-top: 300px;
    height: 850px;
  }

  .contain2-projects{
    margin-top: 13% !important;
    margin-left: 60% !important;
  }

  .img-contain img{
    max-width: 80%;
    margin-top: 18%;
    width: 550px;
  
  }

  .about{
    padding-top: 100px;
  }

  .image{
    padding-top: 100px;
  }

  .carb{
    margin-top: 5% !important;
  }

  .latin{
    margin-top: -7% !important;
    margin-bottom: 15%;
  }

  .latext{
    margin-top: 7% !important;
  }

}

@media (max-width: 1050px) {
  section.header {
    height: 1000px;
  }

  .section.header .background {
  height: calc(90% + 10vh);
  }

  .contain.head{
    margin-top: 20% !important;
    margin-left: 5%;
  }

  .image-header #ilustration{
    margin-left: 600px;
    margin-top: 25%;
    max-width: 250px;
  }

  .contain{
    margin-top: 3% !important;
  }

  .about{
    padding-top: 0;
  }

  .about h3{ 
    margin-bottom: 0;
    margin-top: 5px;
  }


  .section.contain{
    height: 850px;
  }

  .img-contain img{
    max-width: 70%;
    margin:-40px 0 0 18%;
    box-shadow:  -5px 5px 20px #29576C;
    border-radius: 10px;
  
  }

  .resposnive-text{
    
    margin-right: 20%;
  }

  .button2{
    margin-bottom: 20%;
  }

  .carb{
    margin-top: 20% !important;
  }

  .latin{
    padding-top: 3%;
  }

.contain2-projects.latext{
margin-top: 28% !important;
}
/*  .latin{
    margin-left: -10%;
  }*/

  .contain2-projects{
    max-width: 70%;
    margin-top: 35% !important;
    margin-left: 9% !important;

  }

  .resposnive-text{
    width: 80%;
  }

  .text-responsive-latin{
    margin-right: 22%;
  }

  .containContact{
    margin-top: -8% !important;
  }

  .col-lg-4{
    width: 100% !important;
  }

}

@media (max-width: 960px) {
  section.header {
    height: 1000px !important;
  }

  .image-header #ilustration{
    margin-left: 650px;
  }

  .mee{
    margin-top: -10%;
  }

}

@media (max-width: 720px) {
  section.header {
    height: 600px;
    font-size: 16px;
  }

  .image-header #ilustration{
    display: none;
  }

  .img-contain img{
    max-width: 400px;
    margin:-40px 0 0 45px;
    box-shadow:  -5px 5px 20px #29576C;
    border-radius: 10px;
  
  }

  .section.contain{
    height: 700px;
  }

  .me{
    margin-bottom: 400px;
  }

  .contain2-projects{
    margin-left: 25px;
    margin-top: 220px !important;
    padding: 0;

  }

  .mee .about{
    padding: 0 60px;
  }


  .text-responsive-latin{
    padding-right: 75px;
  }

  .carb{
    margin-top: 20%;
  }
}
@media (max-width: 580px) {
  section.header {
    height: 600px;
    font-size: 15px;
  }

  .image-header #ilustration{
    display: none;
  }

  .img-contain img{
    max-width: 400px;
    margin:-40px 0 0 45px;
    box-shadow:  -5px 5px 20px #29576C;
    border-radius: 10px;
  
  }

  .section.contain{
    height: 700px;
  }

  .text-responsive-latin h2{
    padding-right: 10px;
  }

  .me{
    margin-bottom: 400px;
  }

  .contain2-projects{
    margin-left: 25px;
    margin-top: 220px !important;
    padding: 0;

  }

  .mee .about{
    padding: 0 60px;
  }


  .text-responsive-latin{
    padding-right: 75px;
  }

  .carb{
    margin-top: 20%;
  }

}
@media (max-width: 440px) {
  section.header {
    font-size: 14px;
    height: 700px !important;
  }
  .image-header #ilustration{
    display: none;
  }

  .img-contain img{
    max-width: 350px;
    margin:-40px 0 0 35px;
    box-shadow:  -5px 5px 20px #29576C;
    border-radius: 10px;
  
  }

  .image{
    padding-top: 0;
  }

  .latin{
    margin-left: -10px;
  }

  .text-responsive-latin{
    padding-right: 10px;
  }


  .resposnive-text{
    padding: 0 18px 0 18px;
  }


  .contain2-projects{
    margin-top: 200px !important;

  }

  .section.contain{
    height: 950px;
  }

  .containContact{
    margin-top: -70px !important;
  }

  .carb{
    margin-top: 20%;
  }

  .contain2-projects.latext{
     margin-top: 45% !important;
  }

  .flex-projects{
    margin-top: 0;
    margin-left: 15px;
  }

  .about h2{
    font-size: 33px;
  }

  .tittleBlue{
    font-size: 33px;
  }

  .latext h2{
    font-size: 30px;
  }

  .contain h1{
    font-size: 30px;
  }

  .writing{
    font-size: 20px;
  }

}


/*---------------------keyframes---------------------*/

@keyframes top-line-animation{
  50%, 100%{
    margin: 0 auto;
    transform: translateY(2.9px) rotate(-50deg);
  }
}

@keyframes bottom-line-animation{
  50%, 100%{
    margin: 0 auto;
    transform: translateY(-4px) rotate(50deg);
  }
}

@keyframes middle-line-animation{
  20%, 100%{
    margin: 0 auto;
    width: 0 auto;
    opacity: 0;
  }
}

@keyframes top-line-animation-close{
  0%{
    margin: 0 auto;
    transform: translateY(2.9px) rotate(-50deg);
  }

  50%, 100%{
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes bottom-line-animation-close{
  0%{
    margin: 0 auto;
    transform: translateY(-4px) rotate(50deg);
  }

  50%, 100%{
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes middle-line-animation-close{
  0%{
    margin: 0 auto;
    width: 0 auto;
    opacity: 0;
  }

  20%, 100%{
    margin: 0 auto;
    width: 60%;
    opacity: 1;
  }

}